body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
  color: #333;
}

header, footer {
  background: #1e2a38;
  color: white;
  text-align: center;
  padding: 1rem;
}

nav a {
  color:#66ccff;
  text-decoration: none;
  margin: 0 10px;
}

section {
  margin: 2rem auto;
  max-width: 900px;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h3 {
  color: #1e2a38;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  background: #1e2a38;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button:hover {
  background: #274156;
}

title {
  background: #1e2a38;
  color: white;
  text-align: center;
  padding: 1rem;
}

header h1 {
  color: white;
}
  
